body{
  background-color: #423B45;
}
.start{
    margin-top: 50px;
    margin-left: 40.7%;
    display: inline-block;
    
}

.restart{
  margin-top: 50px;
  margin-left: 2%;
  display: inline-block;
  
}

.afficherRegles{
  margin-top: 50px;
  margin-left: 2%;
  display: inline-block;
  
}

#cacherRegles{
  margin-top: 35px;
  margin-left: 83%;
  display: none;
  position: absolute;
  z-index:1;
  
}

#regles{
  margin-top: 50px;
  margin-left: 70%;
  display: none;
  position: absolute;
  
}

.letsGo{
  margin-top: 50px;
  margin-left: 20%;
  position: absolute;
  display: none;
}

.Score{
  margin-top: 300px;
  margin-left: 20%;
  position: absolute;
}

.gameOver{
  margin-top: 50px;
  margin-left: 20%;
  position: absolute;
  display: none;
}


.red{
    width:100px;
    height:100px;
    background:#FF2D2B;
    margin:50px auto;
    
  }

  .blue{
    width:100px;
    height:100px;
    background:#48C6E0;
    margin:50px auto;
    
  }
  
  .green{
    width:100px;
    height:100px;
    background:#2ADB67;
    margin:50px auto;
    
  }
  
  .yellow{
    width:100px;
    height:100px;
    background:#F7E55D;
    margin:50px auto;

  }
  
  

  